.sliderImg{
    transition: ease-out .7s;
    
}
.text{
    font-size: 5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.appear{
    opacity: 1;
    z-index: 1;
    transition:  all 3s;
    transform: translateX(0px) translateY(0px);
}
.disappear{
    opacity: 0;
    z-index: -1;
    transition:  all 3s;
    transform: translateX(-90px) translateY(-5px);
}